<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="shortcut icon" type="image/png" href="bs.png">

        <title>Bimmer Search</title>
        <!--
              ______
             /|_||_\`.__
            (   _    _ _\
            =`-(_)--(_)-' 
            Bimmer Search
        -->
      </head>
      <body>
        <div class="d-flex flex-column" style="min-height: 100vh">
            <div class="header" id="header">
                <div class="d-flex align-items-baseline">
                    <h1 class="m-0 ml-3">Bimmer Search</h1>
                    <p class="m-0 ml-3" style="font-family: BMWTypeNextLight">Find certified and pre-owned BMWs for sale</p>
                </div>
            </div>
            <div class="gray-bar"></div>
            <div id="app" class="container-fluid d-flex flex-column"  style="flex: 1">
                <div class="row" style="flex: 1">
                    <div :class="(filtering.show ? 'col-12 col-md-3 col-lg-2' : 'col-12 col-md-1') + ' sidebar'">
                        <div class="content-top d-flex align-items-center justify-content-between filters-header" style="cursor: pointer" @click="filtering.show = !filtering.show">
                            <h5 class="m-0 mx-3">Filters</h5>
                            <i class="bi bi-caret-right-fill mr-3" :style="filtering.show ? 'transform: rotate(90deg);' : ''"></i>
                        </div>
                        <div class="sidebar-content scroll-box pt-3" v-show="filtering.show">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Zip</span>
                              </div>
                              <input v-model="filtering.zip" type="text" class="form-control" :disabled="loading">
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Radius</span>
                              </div>
                              <input v-model="filtering.radius" type="text" class="form-control"  :disabled="loading">
                            </div>

                            <p class="m-0">Filter by option/package codes</p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Options</span>
                                </div>
                                <input v-model="filtering.options" type="text" class="form-control" :disabled="loading" placeholder="5AU, ZMP">
                            </div>

                            <div class="card-body filter-body d-flex mb-3 type-filter">
                                <div v-for="value in search.facets['Type']" class="d-flex align-items-baseline mr-4">
                                    <input type="checkbox" v-model="filtering.filters['Type']" :value="value" :disabled="loading">
                                    <p class="m-0 ml-3">{{ value }}</p>
                                </div>
                            </div>
                            <div>
                                      <div class="card mb-3" v-for="facet in search.facetNames">
                                        <div class="card-header filter-header d-flex justify-content-between" :id="'filter-name-'+facet" data-toggle="collapse" :data-target="'#filter-'+facet" aria-expanded="false" :aria-controls="'filter'+facet" @click="search.facets[facet].show = !search.facets[facet].show">
                                          <span>
                                            {{ facetName(facet) }} {{ filtering.filters[facet].length > 0 ? "*" : ""}}
                                          </span>
                                          <i class="bi bi-caret-right-fill" :style="search.facets[facet].show ? 'transform: rotate(90deg);' : ''"></i>
                                        </div>

                                        <div :id="'filter-'+facet" class="collapse" :aria-labelledby="'filter-name-'+facet">
                                          <div class="card-body filter-body">
                                            <div v-for="value in search.facets[facet]" class="d-flex align-items-baseline">
                                                <input type="checkbox" v-model="filtering.filters[facet]" :value="value" :disabled="loading">
                                                <p class="m-0 ml-3">{{ value }}</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                            </div>




                            <div class="row position-static search-row" style="position: fixed; bottom: 0;">
                                <div class="col-12 col-md-3 col-lg-2 search-container">
                                    <button @click="fetchInventory" class="btn btn-outline-dark search-button my-3" :disabled="loading">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- <p style="position: fixed; bottom: 0; font-size: 0.8em;" class="mb-2">Bimmer Search</p> -->
                    </div>
                    <div :class="filtering.show ? 'col-12 col-md-9 col-lg-10' : 'col-12 col-md-11'">
                        <div class="content-top d-flex">
                            <div style="flex: 1">
                                <div class="row m-0" style="height: 100%">
                                    <div class="col-6 col-sm-4 d-flex align-items-center">
                                        <p class="m-0 results-title" v-show="inventory.count != null">{{ inventory.count }} Vehicles</p>
                                    </div>
                                    <div class="col-0 col-sm-4 d-none d-sm-flex align-items-center justify-content-center">
                                        <div class="spinner-border" role="status" v-if="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <nav aria-label="Page navigation" v-if="!loading && !filteringByOption && search.pages.length > 1" style="font-size: 0.9em;">
                                          <ul class="pagination m-0">
                                            <li class="page-item" v-if="search.pageIndex != 1"><span class="page-link" @click="changePage(search.pageIndex-1)"><</span></li>
                                            <li class="page-item" v-for="page in search.pages"><span class="page-link" @click="changePage(page)" :class="search.pageIndex == page ? 'page-selected' : ''">{{ page }}</span></li>
                                            <li class="page-item" v-if="showAdditionalPage"><span class="page-link" @click="changePage(search.pages[search.pages.length - 1] + 1)">...</span></li>
                                            <li class="page-item" v-if="search.pageIndex != search.numberOfPages"><span class="page-link" @click="changePage(search.pageIndex+1)">></span></li>
                                          </ul>
                                        </nav>
                                    </div>
                                    <div class="col-6 col-sm-4 d-flex align-items-center justify-content-end">
                                        <div class="dropdown mr-0 mr-sm-5">
                                          <button class="btn btn-outline-dark dropdown-toggle" style="font-size: 0.9em;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort by {{ filtering.sortBy }}
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" v-for="sortOption in filtering.sortOptions" @click="filtering.sortBy = sortOption">
                                                {{ sortOption }}
                                            </a>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-layout d-flex flex-row flex-wrap">
                            <div class="card vehicle-card" v-for="vehicle in inventory.filtered" :key="vehicle.vin">
                                <div class="vehicle-card-clickable" @click="openVehicleModal(vehicle)">
                                    <div class="vehicle-photo-wrap position-relative">
                                        <img class="card-img-top" :src="vehicleImageAt(vehicle, getDisplayPhotoIndex(vehicle))" alt="Vehicle image">
                                        <template v-if="validPhotoIndices(vehicle).length > 1">
                                            <button v-if="getVehiclePhotoIndex(vehicle) > 0" type="button" class="btn btn-sm photo-arrow photo-arrow-left" @click.stop="prevPhoto(vehicle)" aria-label="Previous photo"><i class="bi bi-chevron-left"></i></button>
                                            <button v-if="getVehiclePhotoIndex(vehicle) < validPhotoIndices(vehicle).length - 1" type="button" class="btn btn-sm photo-arrow photo-arrow-right" @click.stop="nextPhoto(vehicle)" aria-label="Next photo"><i class="bi bi-chevron-right"></i></button>
                                        </template>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title d-flex justify-content-between">
                                            <div>
                                                <h5 class="vehicle-title">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.modelSeries }}</h5>
                                                <p class="m-0 vehicle-desc">{{ vehicle.modelDescription }}</p>
                                            </div>
                                            <div v-if="vehicle.isCarFax" class="carfax">
                                                <a :href="request.carFaxUrl + vehicle.vin" target="_blank" class="d-flex flex-column text-right" @click.stop>
                                                    <image height="16" src="carfax.png"></image>
                                                    <p class="m-0" style="float: right;" v-if="!vehicle.carFaxNumOwners.isNaN && vehicle.carFaxNumOwners > 0">
                                                        {{ vehicle.carFaxNumOwners }}-owner
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-text vehicle-info">
                                            <div>
                                                <p>Dealer Price</p>
                                                <p>${{ formatNumber(vehicle.internetPrice) }}</p>
                                            </div>
                                            <div>
                                                <p>Miles</p>
                                                <p>{{ formatNumber(vehicle.odometer) }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center" style="height: 50px;">
                                    <a :href="vehicle.vdpUrl" target="_blank">
                                        <div>
                                            <small class="text-muted" style="font-size: 85%">{{ dealers.current[vehicle.dealerCode]?.dealerName }} - {{ dealers.current[vehicle.dealerCode]?.city }}, {{ dealers.current[vehicle.dealerCode]?.state }}</small>
                                            <small class="text-muted pl-2" style="font-family: BMWTypeNext;">{{ vehicle.distance }} mi</small>
                                        </div>
                                    </a>
                                    <small v-if="vehicle.type == 'CPO'" class="certified">Certified</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Vehicle info modal (inside #app so Vue controls it) -->
                <div class="modal fade" :class="{ show: selectedVehicle }" :style="selectedVehicle ? 'display: block;' : ''" tabindex="-1" role="dialog" :aria-hidden="selectedVehicle ? 'false' : 'true'">
                    <div class="modal-backdrop fade" :class="{ show: selectedVehicle }" @click="closeVehicleModal"></div>
                    <div class="modal-dialog modal-dialog-centered vehicle-modal-dialog" role="document" @click.stop>
                        <div class="modal-content" v-if="selectedVehicle">
                            <div class="modal-body p-0">
                                <!-- Full-width image with nav -->
                                <div class="vehicle-modal-photo position-relative">
                                    <img class="vehicle-modal-img" :src="vehicleImageAt(selectedVehicle, getModalDisplayPhotoIndex())" alt="Vehicle image">
                                    <button type="button" class="btn btn-sm photo-info-btn vehicle-modal-close" aria-label="Close" @click="closeVehicleModal"><i class="bi bi-x-lg"></i></button>
                                    <template v-if="validPhotoIndices(selectedVehicle).length > 1">
                                        <button v-if="modalPhotoIndex > 0" type="button" class="btn btn-sm photo-arrow photo-arrow-left" @click="prevModalPhoto()" aria-label="Previous photo"><i class="bi bi-chevron-left"></i></button>
                                        <button v-if="modalPhotoIndex < validPhotoIndices(selectedVehicle).length - 1" type="button" class="btn btn-sm photo-arrow photo-arrow-right" @click="nextModalPhoto()" aria-label="Next photo"><i class="bi bi-chevron-right"></i></button>
                                    </template>
                                </div>
                                <!-- Details -->
                                <div class="vehicle-modal-body">
                                    <div class="vehicle-modal-head">
                                        <div class="vehicle-modal-head-main">
                                            <span class="vehicle-modal-title">{{ selectedVehicle.year }} {{ selectedVehicle.make }} {{ selectedVehicle.modelSeries }}</span>
                                            <p class="vehicle-modal-desc">{{ selectedVehicle.modelDescription }}</p>
                                        </div>
                                        <div v-if="selectedVehicle.isCarFax" class="vehicle-modal-carfax">
                                            <a :href="request.carFaxUrl + selectedVehicle.vin" target="_blank">
                                                <img height="16" src="carfax.png" alt="Carfax">
                                                <span v-if="!selectedVehicle.carFaxNumOwners.isNaN && selectedVehicle.carFaxNumOwners > 0">{{ selectedVehicle.carFaxNumOwners }}-owner</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="vehicle-modal-packages" v-if="vehiclePackages(selectedVehicle).length">
                                        <span class="vehicle-modal-label">Packages</span>
                                        <ul class="vehicle-modal-pkg-list">
                                            <li v-for="pkg in vehiclePackages(selectedVehicle)" :key="pkg">{{ pkg }}</li>
                                        </ul>
                                    </div>
                                    <div class="vehicle-modal-specs" v-if="selectedVehicle.engineDescription || selectedVehicle.fuelType || selectedVehicle.drivetrain || selectedVehicle.exteriorMeta || selectedVehicle.interiorMeta || selectedVehicle.vin">
                                        <span v-if="selectedVehicle.engineDescription">{{ selectedVehicle.engineDescription }}</span>
                                        <span v-if="selectedVehicle.fuelType">{{ selectedVehicle.fuelType }}</span>
                                        <span v-if="selectedVehicle.drivetrain">{{ selectedVehicle.drivetrain }}</span>
                                        <span v-if="selectedVehicle.exteriorMeta">{{ selectedVehicle.exteriorMeta }}</span>
                                        <span v-if="selectedVehicle.interiorMeta">{{ selectedVehicle.interiorMeta }}</span>
                                        <span v-if="selectedVehicle.vin" class="vehicle-modal-vin">VIN {{ selectedVehicle.vin }}</span>
                                    </div>
                                    <div class="vehicle-modal-meta">
                                        <span class="vehicle-modal-meta-item">${{ formatNumber(selectedVehicle.internetPrice) }}</span>
                                        <span class="vehicle-modal-meta-item">{{ formatNumber(selectedVehicle.odometer) }} mi</span>
                                        <span class="vehicle-modal-meta-item">{{ dealers.current[selectedVehicle.dealerCode]?.dealerName }}, {{ dealers.current[selectedVehicle.dealerCode]?.state }}</span>
                                        <span class="vehicle-modal-meta-item">{{ selectedVehicle.distance }} mi away</span>
                                    </div>
                                    <div class="vehicle-modal-actions">
                                        <small v-if="selectedVehicle.type == 'CPO'" class="certified">Certified</small>
                                        <a :href="selectedVehicle.vdpUrl" target="_blank" class="btn btn-outline-dark btn-sm">View on dealer site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./app.js"></script>
    </body>
</html>