<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- <link rel="stylesheet" href="../static/style/style.css">
        <link rel="shortcut icon" type="image/jpg" href="../static/assets/favicon.png">
        <link rel="stylesheet" href=""> -->

        <title>Bimmer Search</title>
      </head>
      <body>
        <h1>Bimmer Search</h1>
        <div id="app">
            <label>Zip</label>
            <input v-model="filters.zip" type="text">
            <br/>
            <label>Radius</label>
            <input v-model="filters.radius" type="text">
            <br/>
            <button @click="fetchInventory">Search</button>

            <p v-show="loading">Loading...</p>
            <div v-for="vehicle in allInventory" :key="vehicle.vin">
                {{ vehicle.vdpUrl }}
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./app.js"></script>
    </body>
</html>