
@font-face {
  font-family: "BMWTypeNext";
  src: url('fonts/BMWTypeNextLatin-Bold.woff2');
}

@font-face {
  font-family: "BMWTypeNextLight";
  src: url('fonts/BMWTypeNextLatin-Light.woff2');
}

@font-face {
  font-family: "BMWTypeNextThin";
  src: url('fonts/BMWTypeNextLatin-Thin.woff2');
}

body {
    background: #f6f6f6;
    font-family: BMWTypeNextLight,Helvetica Neue,-apple-system,"system-ui",BlinkMacSystemFont,serif;
}

.header {
    height: 100px;
    font-family: BMWTypeNext;
    color: #4c4c4c;
    align-items: center;
    margin: 0px;
    display: flex;
    background: white;
}

.gray-bar{
    background: #f6f6f6;
    height: 10px;
}

.content-top {
    background: white;
    height: 60px;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    margin-left: -15px;
    margin-right: -15px;
}

.sidebar {
    background: white;
}

.content {

}

.card-layout {
    padding-top: 15px;
    column-gap: 15px;
}

.card {
    margin-bottom: 1.25rem;
    width: 100%;
}

@media (min-width: 768px) {
    .card {
        width: calc(50% - calc(15px / 2));
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(33.33% - calc(calc(2 * 15px) / 3));
    }
}

@media (min-width: 2000px) {
    .card {
        width: calc(25% - calc(calc(3 * 15px) / 4));
    }
}

.vehicle-title {
    font-family: BMWTypeNext;
}

.vehicle-info {
    display: flex;
    justify-content: space-between;
}

.vehicle-info p {
    margin: 0px;
}